.flexing-of-form-items {
    display: flex;
    flex-direction: column;
}

.width-of-form-element {
    width: 500px;
    margin-left: 150px;
    margin-top: 50px;
}

.add-button-styling {
    margin-top: 20px;
    background-color: blueviolet;
    color: #ffffff;
    border-width: 0px;
}

@media (max-width:768px){
    .width-of-form-element {
        width: 300px;
        margin-left: 150px;
        margin-top: 50px;
    }
    
}